
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

#text_1 {
    font-family: 'Poppins', sans-serif;
    padding: 2em 5em;
    
}
section .text1{
    padding-bottom: 2em;
    color:#080957;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    font-size: 2em;
}
@media (min-width:350px){
    #text_1{
        padding:5em 5em;
    }
}